<!DOCTYPE html>
<html>
<head>
    <% include _base_head %>
</head>

<body>
<% include _base_nav %>
<div class="container-fluid">
    <div class="row">
        <% include _base_sidebar%>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <input type="submit" class="btn btn-block" value="提交">
        </div>
    </div>
</div>
</body>
</html>