<!DOCTYPE html>
<html>
    <head>
        <% include _base_head %>
    </head>

    <body>
    <% include _base_nav %>
    <div class="container-fluid">
        <div class="row">
            <% include _base_sidebar%>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <table class="table">
                    <tr><th>量表类型</th><th>日期</th><th>操作</th></tr>
                    <tr><td>睡眠量表</td><td>2016-01-07 16:00</td><td><a href="">查看</a></td></tr>
                </table>
            </div>
        </div>
    </div>
    </body>
</html>