<!DOCTYPE html>
<html>
<head>
    <% include _base_head %>
</head>

<body>
    <% include _base_nav %>

    <div class="table_wrapper">
        <% //include _base_sidebar%>
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <div class="main">
            <form method="post" action="/create_record" >
                <input type="hidden" name="patientid" value="<%=patientid%>">
                <% include table_medical_record_new%>
                <input type="submit" class="btn btn-block btn-primary" value="提交">
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $.get('/profile_json?patientid=<%=patientid%>',function(data){
            data = JSON.parse(data.profile);
            console.log(data);
            //text
            $(".profile").each(function(){

                attr_name =$(this).attr('name');
                if(data.hasOwnProperty(attr_name)){
                    $("input[name='"+attr_name+"'").val(data[attr_name]);
//                $("input[name='"+attr_name+"'").val(data[attr_name]);
//                $("input[name='"+attr_name+"'").css("background-color","yellow");
                }else{
//                $("input[name='"+attr_name+"'").css("background-color","red");
                }
//            $(this).prop('readonly', true);
            });

            //select
            $(".profile").each(function(){
                attr_name =$(this).attr('name');
                attr_val = $(this).val();
                if(data.hasOwnProperty(attr_name)){
                    $(this).val(data[attr_name]);
                    console.log(attr_name,attr_val,$(this).val());
                }
//            $(this).prop('disabled', 'disabled');
            });

        })
    </script>

</body>
</html>