<!DOCTYPE html>
<html>
<head>
    <% include _base_head %>
</head>

<body>
    <% include _base_nav %>
    <div class="container-fluid">
        <div class="row">
            <% include _base_sidebar%>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <form method="post" action="/create_record" >
                    <input type="hidden" name="patientid" value="<%=patientid%>">
                    <% include table_medical_record_new%>
                    <input type="submit" class="btn btn-block btn-primary" value="提交">
                </form>
            </div>
        </div>
    </div>
</body>
</html>