<!DOCTYPE html>
<html>
<head>
    <% include _base_head %>
</head>

<body>
<% include _base_nav %>
<div class="container-fluid">
    <div class="container">
        <table class="table">
            <tr><th>姓名</th><th>基本信息</th><th>操作</th></tr>
            <tr><td>病人甲</td><td>23岁</td><td><a href="/medical_record?patientname=病人甲">管理</a></td></tr>
        </table>
    </div>
</div>
</body>
</html>