<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    睡眠信念与态度量表（DBAS）
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th colspan="6">填写说明：下列是有关睡眠信念与态度的叙述，请根据每一题的描
                            述来标示出您同意或不同意的程度，
                            这些题目并没有对错之分。请根据您个人想法圈选出最适当的数字，即使您没有实际经历过某些情况，
                            也请务必试著作答。 </th>
                    </tr>

                    <tr>
                        <td colspan="6">
                            <span>非常不同意（0）-------------------------非常同意（10）</span>
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">1. 我每天需要八小时的睡眠，白天才会有精神，工作表现才会好。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                            <input type="radio" name="dbas_q1" value="0">0
                                <input type="radio" name="dbas_q1" value="1">1
                                <input type="radio" name="dbas_q1" value="2">2
                                <input type="radio" name="dbas_q1" value="3">3
                                <input type="radio" name="dbas_q1" value="4">4
                                <input type="radio" name="dbas_q1" value="5">5
                                <input type="radio" name="dbas_q1" value="6">6
                                <input type="radio" name="dbas_q1" value="7">7
                                <input type="radio" name="dbas_q1" value="8">8
                                <input type="radio" name="dbas_q1" value="9">9
                                <input type="radio" name="dbas_q1" value="10">10
                            
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">2. 当我前一天睡的不好，隔天一定需要睡午觉补眠，或是晚上早点上床睡觉。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q2" value="0">0
                                <input type="radio" name="dbas_q2" value="1">1
                                <input type="radio" name="dbas_q2" value="2">2
                                <input type="radio" name="dbas_q2" value="3">3
                                <input type="radio" name="dbas_q2" value="4">4
                                <input type="radio" name="dbas_q2" value="5">5
                                <input type="radio" name="dbas_q2" value="6">6
                                <input type="radio" name="dbas_q2" value="7">7
                                <input type="radio" name="dbas_q2" value="8">8
                                <input type="radio" name="dbas_q2" value="9">9
                                <input type="radio" name="dbas_q2" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">3. 因为年纪越来越大，所以需要的睡眠越来越少。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q3" value="0">0
                                <input type="radio" name="dbas_q3" value="1">1
                                <input type="radio" name="dbas_q3" value="2">2
                                <input type="radio" name="dbas_q3" value="3">3
                                <input type="radio" name="dbas_q3" value="4">4
                                <input type="radio" name="dbas_q3" value="5">5
                                <input type="radio" name="dbas_q3" value="6">6
                                <input type="radio" name="dbas_q3" value="7">7
                                <input type="radio" name="dbas_q3" value="8">8
                                <input type="radio" name="dbas_q3" value="9">9
                                <input type="radio" name="dbas_q3" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">4. 如果一两天没睡觉，我担心可能会精神崩溃。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q4" value="0">0
                                <input type="radio" name="dbas_q4" value="1">1
                                <input type="radio" name="dbas_q4" value="2">2
                                <input type="radio" name="dbas_q4" value="3">3
                                <input type="radio" name="dbas_q4" value="4">4
                                <input type="radio" name="dbas_q4" value="5">5
                                <input type="radio" name="dbas_q4" value="6">6
                                <input type="radio" name="dbas_q4" value="7">7
                                <input type="radio" name="dbas_q4" value="8">8
                                <input type="radio" name="dbas_q4" value="9">9
                                <input type="radio" name="dbas_q4" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">5. 我担心长期失眠可能会造成严重的身体健康问题。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q5" value="0">0
                                <input type="radio" name="dbas_q5" value="1">1
                                <input type="radio" name="dbas_q5" value="2">2
                                <input type="radio" name="dbas_q5" value="3">3
                                <input type="radio" name="dbas_q5" value="4">4
                                <input type="radio" name="dbas_q5" value="5">5
                                <input type="radio" name="dbas_q5" value="6">6
                                <input type="radio" name="dbas_q5" value="7">7
                                <input type="radio" name="dbas_q5" value="8">8
                                <input type="radio" name="dbas_q5" value="9">9
                                <input type="radio" name="dbas_q5" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">6. 如果我多花一些时间躺在床上，通常都可以多睡一点，
                            隔天感觉也会比较好。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q6" value="0">0
                                <input type="radio" name="dbas_q6" value="1">1
                                <input type="radio" name="dbas_q6" value="2">2
                                <input type="radio" name="dbas_q6" value="3">3
                                <input type="radio" name="dbas_q6" value="4">4
                                <input type="radio" name="dbas_q6" value="5">5
                                <input type="radio" name="dbas_q6" value="6">6
                                <input type="radio" name="dbas_q6" value="7">7
                                <input type="radio" name="dbas_q6" value="8">8
                                <input type="radio" name="dbas_q6" value="9">9
                                <input type="radio" name="dbas_q6" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">7. 当我有入睡困难或是半夜醒来后很难再入睡的情况时，我应该要一直躺在床
                            上并且更努力地睡觉。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q7" value="0">0
                                <input type="radio" name="dbas_q7" value="1">1
                                <input type="radio" name="dbas_q7" value="2">2
                                <input type="radio" name="dbas_q7" value="3">3
                                <input type="radio" name="dbas_q7" value="4">4
                                <input type="radio" name="dbas_q7" value="5">5
                                <input type="radio" name="dbas_q7" value="6">6
                                <input type="radio" name="dbas_q7" value="7">7
                                <input type="radio" name="dbas_q7" value="8">8
                                <input type="radio" name="dbas_q7" value="9">9
                                <input type="radio" name="dbas_q7" value="10">10
                            
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">8. 我担心自己可能失去控制睡眠的能力。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q8" value="0">0
                                <input type="radio" name="dbas_q8" value="1">1
                                <input type="radio" name="dbas_q8" value="2">2
                                <input type="radio" name="dbas_q8" value="3">3
                                <input type="radio" name="dbas_q8" value="4">4
                                <input type="radio" name="dbas_q8" value="5">5
                                <input type="radio" name="dbas_q8" value="6">6
                                <input type="radio" name="dbas_q8" value="7">7
                                <input type="radio" name="dbas_q8" value="8">8
                                <input type="radio" name="dbas_q8" value="9">9
                                <input type="radio" name="dbas_q8" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">9. 因为我的年纪越来越大，所以晚上应该早点上床睡觉。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q9" value="0">0
                                <input type="radio" name="dbas_q9" value="1">1
                                <input type="radio" name="dbas_q9" value="2">2
                                <input type="radio" name="dbas_q9" value="3">3
                                <input type="radio" name="dbas_q9" value="4">4
                                <input type="radio" name="dbas_q9" value="5">5
                                <input type="radio" name="dbas_q9" value="6">6
                                <input type="radio" name="dbas_q9" value="7">7
                                <input type="radio" name="dbas_q9" value="8">8
                                <input type="radio" name="dbas_q9" value="9">9
                                <input type="radio" name="dbas_q9" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">10. 当前一晚睡的不好，我知道隔天的活动一定会受到影响。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q10" value="0">0
                                <input type="radio" name="dbas_q10" value="1">1
                                <input type="radio" name="dbas_q10" value="2">2
                                <input type="radio" name="dbas_q10" value="3">3
                                <input type="radio" name="dbas_q10" value="4">4
                                <input type="radio" name="dbas_q10" value="5">5
                                <input type="radio" name="dbas_q10" value="6">6
                                <input type="radio" name="dbas_q10" value="7">7
                                <input type="radio" name="dbas_q10" value="8">8
                                <input type="radio" name="dbas_q10" value="9">9
                                <input type="radio" name="dbas_q10" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">11. 为了保持白天的清醒与工作表现，我认为比较好的方式是吃助眠药物，
                            而不是让自己一整晚睡不好。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q11" value="0">0
                                <input type="radio" name="dbas_q11" value="1">1
                                <input type="radio" name="dbas_q11" value="2">2
                                <input type="radio" name="dbas_q11" value="3">3
                                <input type="radio" name="dbas_q11" value="4">4
                                <input type="radio" name="dbas_q11" value="5">5
                                <input type="radio" name="dbas_q11" value="6">6
                                <input type="radio" name="dbas_q11" value="7">7
                                <input type="radio" name="dbas_q11" value="8">8
                                <input type="radio" name="dbas_q11" value="9">9
                                <input type="radio" name="dbas_q11" value="10">10
                            
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">12. 如果我在白天感到暴躁、忧郁、焦虑，大部分是因为前一晚没睡好。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q12" value="0">0
                                <input type="radio" name="dbas_q12" value="1">1
                                <input type="radio" name="dbas_q12" value="2">2
                                <input type="radio" name="dbas_q12" value="3">3
                                <input type="radio" name="dbas_q12" value="4">4
                                <input type="radio" name="dbas_q12" value="5">5
                                <input type="radio" name="dbas_q12" value="6">6
                                <input type="radio" name="dbas_q12" value="7">7
                                <input type="radio" name="dbas_q12" value="8">8
                                <input type="radio" name="dbas_q12" value="9">9
                                <input type="radio" name="dbas_q12" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">13. 我的床伴可以很快入睡并且一整晚都睡的很香甜，所以我应该也是如此。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q13" value="0">0
                                <input type="radio" name="dbas_q13" value="1">1
                                <input type="radio" name="dbas_q13" value="2">2
                                <input type="radio" name="dbas_q13" value="3">3
                                <input type="radio" name="dbas_q13" value="4">4
                                <input type="radio" name="dbas_q13" value="5">5
                                <input type="radio" name="dbas_q13" value="6">6
                                <input type="radio" name="dbas_q13" value="7">7
                                <input type="radio" name="dbas_q13" value="8">8
                                <input type="radio" name="dbas_q13" value="9">9
                                <input type="radio" name="dbas_q13" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">14. 基本上失眠是因为老化引起的，没有什么可以改善的方法。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q14" value="0">0
                                <input type="radio" name="dbas_q14" value="1">1
                                <input type="radio" name="dbas_q14" value="2">2
                                <input type="radio" name="dbas_q14" value="3">3
                                <input type="radio" name="dbas_q14" value="4">4
                                <input type="radio" name="dbas_q14" value="5">5
                                <input type="radio" name="dbas_q14" value="6">6
                                <input type="radio" name="dbas_q14" value="7">7
                                <input type="radio" name="dbas_q14" value="8">8
                                <input type="radio" name="dbas_q14" value="9">9
                                <input type="radio" name="dbas_q14" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">15. 有时候我害怕会在睡梦中死去。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q15" value="0">0
                                <input type="radio" name="dbas_q15" value="1">1
                                <input type="radio" name="dbas_q15" value="2">2
                                <input type="radio" name="dbas_q15" value="3">3
                                <input type="radio" name="dbas_q15" value="4">4
                                <input type="radio" name="dbas_q15" value="5">5
                                <input type="radio" name="dbas_q15" value="6">6
                                <input type="radio" name="dbas_q15" value="7">7
                                <input type="radio" name="dbas_q15" value="8">8
                                <input type="radio" name="dbas_q15" value="9">9
                                <input type="radio" name="dbas_q15" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">16. 如果我有一个晚上睡得很好，我知道隔天晚上就得为此付出代价。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q16" value="0">0
                                <input type="radio" name="dbas_q16" value="1">1
                                <input type="radio" name="dbas_q16" value="2">2
                                <input type="radio" name="dbas_q16" value="3">3
                                <input type="radio" name="dbas_q16" value="4">4
                                <input type="radio" name="dbas_q16" value="5">5
                                <input type="radio" name="dbas_q16" value="6">6
                                <input type="radio" name="dbas_q16" value="7">7
                                <input type="radio" name="dbas_q16" value="8">8
                                <input type="radio" name="dbas_q16" value="9">9
                                <input type="radio" name="dbas_q16" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">17. 如果某个晚上我睡的不好，我知道整个星期的睡眠时间就会被打乱。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q17" value="0">0
                                <input type="radio" name="dbas_q17" value="1">1
                                <input type="radio" name="dbas_q17" value="2">2
                                <input type="radio" name="dbas_q17" value="3">3
                                <input type="radio" name="dbas_q17" value="4">4
                                <input type="radio" name="dbas_q17" value="5">5
                                <input type="radio" name="dbas_q17" value="6">6
                                <input type="radio" name="dbas_q17" value="7">7
                                <input type="radio" name="dbas_q17" value="8">8
                                <input type="radio" name="dbas_q17" value="9">9
                                <input type="radio" name="dbas_q17" value="10">10
                            
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">18. 如果晚上没有适当的睡眠，隔天我简直没办法做事情。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q18" value="0">0
                                <input type="radio" name="dbas_q18" value="1">1
                                <input type="radio" name="dbas_q18" value="2">2
                                <input type="radio" name="dbas_q18" value="3">3
                                <input type="radio" name="dbas_q18" value="4">4
                                <input type="radio" name="dbas_q18" value="5">5
                                <input type="radio" name="dbas_q18" value="6">6
                                <input type="radio" name="dbas_q18" value="7">7
                                <input type="radio" name="dbas_q18" value="8">8
                                <input type="radio" name="dbas_q18" value="9">9
                                <input type="radio" name="dbas_q18" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">19. 我始终没办法预测自己晚上的睡眠状况是好或是不好。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q19" value="0">0
                                <input type="radio" name="dbas_q19" value="1">1
                                <input type="radio" name="dbas_q19" value="2">2
                                <input type="radio" name="dbas_q19" value="3">3
                                <input type="radio" name="dbas_q19" value="4">4
                                <input type="radio" name="dbas_q19" value="5">5
                                <input type="radio" name="dbas_q19" value="6">6
                                <input type="radio" name="dbas_q19" value="7">7
                                <input type="radio" name="dbas_q19" value="8">8
                                <input type="radio" name="dbas_q19" value="9">9
                                <input type="radio" name="dbas_q19" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">20. 我只有一点点的能力可以处理睡眠困扰所产生的负面影响。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q20" value="0">0
                                <input type="radio" name="dbas_q20" value="1">1
                                <input type="radio" name="dbas_q20" value="2">2
                                <input type="radio" name="dbas_q20" value="3">3
                                <input type="radio" name="dbas_q20" value="4">4
                                <input type="radio" name="dbas_q20" value="5">5
                                <input type="radio" name="dbas_q20" value="6">6
                                <input type="radio" name="dbas_q20" value="7">7
                                <input type="radio" name="dbas_q20" value="8">8
                                <input type="radio" name="dbas_q20" value="9">9
                                <input type="radio" name="dbas_q20" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">21. 如果我在白天感到疲累、没有精力、或是表现不好，通常是因为前一晚睡得不好。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q21" value="0">0
                                <input type="radio" name="dbas_q21" value="1">1
                                <input type="radio" name="dbas_q21" value="2">2
                                <input type="radio" name="dbas_q21" value="3">3
                                <input type="radio" name="dbas_q21" value="4">4
                                <input type="radio" name="dbas_q21" value="5">5
                                <input type="radio" name="dbas_q21" value="6">6
                                <input type="radio" name="dbas_q21" value="7">7
                                <input type="radio" name="dbas_q21" value="8">8
                                <input type="radio" name="dbas_q21" value="9">9
                                <input type="radio" name="dbas_q21" value="10">10
                            
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">22. 我晚上会为自己过多的想法而感到无法负荷，并经常感到无法控制自己的思绪。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q22" value="0">0
                                <input type="radio" name="dbas_q22" value="1">1
                                <input type="radio" name="dbas_q22" value="2">2
                                <input type="radio" name="dbas_q22" value="3">3
                                <input type="radio" name="dbas_q22" value="4">4
                                <input type="radio" name="dbas_q22" value="5">5
                                <input type="radio" name="dbas_q22" value="6">6
                                <input type="radio" name="dbas_q22" value="7">7
                                <input type="radio" name="dbas_q22" value="8">8
                                <input type="radio" name="dbas_q22" value="9">9
                                <input type="radio" name="dbas_q22" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">23. 尽管我有睡眠的困扰，但我仍觉得自己可以有个满意的生活。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q23" value="0">0
                                <input type="radio" name="dbas_q23" value="1">1
                                <input type="radio" name="dbas_q23" value="2">2
                                <input type="radio" name="dbas_q23" value="3">3
                                <input type="radio" name="dbas_q23" value="4">4
                                <input type="radio" name="dbas_q23" value="5">5
                                <input type="radio" name="dbas_q23" value="6">6
                                <input type="radio" name="dbas_q23" value="7">7
                                <input type="radio" name="dbas_q23" value="8">8
                                <input type="radio" name="dbas_q3" value="9">9
                                <input type="radio" name="dbas_q23" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">24. 我相信失眠是因为体内化学物质不平衡所致。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q24" value="0">0
                                <input type="radio" name="dbas_q24" value="1">1
                                <input type="radio" name="dbas_q24" value="2">2
                                <input type="radio" name="dbas_q24" value="3">3
                                <input type="radio" name="dbas_q24" value="4">4
                                <input type="radio" name="dbas_q24" value="5">5
                                <input type="radio" name="dbas_q24" value="6">6
                                <input type="radio" name="dbas_q24" value="7">7
                                <input type="radio" name="dbas_q24" value="8">8
                                <input type="radio" name="dbas_q24" value="9">9
                                <input type="radio" name="dbas_q24" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">25. 我觉得失眠摧毁自己享受生命的能力，而且让我不能随心所欲地做想做的事。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q25" value="0">0
                                <input type="radio" name="dbas_q25" value="1">1
                                <input type="radio" name="dbas_q25" value="2">2
                                <input type="radio" name="dbas_q25" value="3">3
                                <input type="radio" name="dbas_q25" value="4">4
                                <input type="radio" name="dbas_q25" value="5">5
                                <input type="radio" name="dbas_q25" value="6">6
                                <input type="radio" name="dbas_q25" value="7">7
                                <input type="radio" name="dbas_q25" value="8">8
                                <input type="radio" name="dbas_q25" value="9">9
                                <input type="radio" name="dbas_q25" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">26. 「睡前一杯酒」是解决睡眠问题的好方法。</th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q26" value="0">0
                                <input type="radio" name="dbas_q26" value="1">1
                                <input type="radio" name="dbas_q26" value="2">2
                                <input type="radio" name="dbas_q26" value="3">3
                                <input type="radio" name="dbas_q26" value="4">4
                                <input type="radio" name="dbas_q26" value="5">5
                                <input type="radio" name="dbas_q26" value="6">6
                                <input type="radio" name="dbas_q26" value="7">7
                                <input type="radio" name="dbas_q26" value="8">8
                                <input type="radio" name="dbas_q26" value="9">9
                                <input type="radio" name="dbas_q26" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">27. 药物是解决失眠的唯一方式 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q27" value="0">0
                                <input type="radio" name="dbas_q27" value="1">1
                                <input type="radio" name="dbas_q27" value="2">2
                                <input type="radio" name="dbas_q27" value="3">3
                                <input type="radio" name="dbas_q27" value="4">4
                                <input type="radio" name="dbas_q27" value="5">5
                                <input type="radio" name="dbas_q27" value="6">6
                                <input type="radio" name="dbas_q27" value="7">7
                                <input type="radio" name="dbas_q27" value="8">8
                                <input type="radio" name="dbas_q27" value="9">9
                                <input type="radio" name="dbas_q27" value="10">10
                            
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6">28. 我的睡眠情形一天比一天糟，而且我不相信有任何人能够帮助我。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q28" value="0">0
                                <input type="radio" name="dbas_q28" value="1">1
                                <input type="radio" name="dbas_q28" value="2">2
                                <input type="radio" name="dbas_q28" value="3">3
                                <input type="radio" name="dbas_q28" value="4">4
                                <input type="radio" name="dbas_q28" value="5">5
                                <input type="radio" name="dbas_q28" value="6">6
                                <input type="radio" name="dbas_q28" value="7">7
                                <input type="radio" name="dbas_q28" value="8">8
                                <input type="radio" name="dbas_q28" value="9">9
                                <input type="radio" name="dbas_q28" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">29. 如果我有睡不好的情形，通常会反应在身体上的一些变化。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q29" value="0">0
                                <input type="radio" name="dbas_q29" value="1">1
                                <input type="radio" name="dbas_q29" value="2">2
                                <input type="radio" name="dbas_q29" value="3">3
                                <input type="radio" name="dbas_q29" value="4">4
                                <input type="radio" name="dbas_q29" value="5">5
                                <input type="radio" name="dbas_q29" value="6">6
                                <input type="radio" name="dbas_q29" value="7">7
                                <input type="radio" name="dbas_q29" value="8">8
                                <input type="radio" name="dbas_q29" value="9">9
                                <input type="radio" name="dbas_q29" value="10">10
                            
                        </td>
                    </tr>

                    <tr>
                        <th colspan="6">30. 如果我前一夜无法安眠，我隔天会逃避或取消自己应该做的事（社会的、家庭的）。 </th>
                    </tr>

                    <tr>
                        <td colspan="6" >
                                                            <input type="radio" name="dbas_q30" value="0">0
                                <input type="radio" name="dbas_q30" value="1">1
                                <input type="radio" name="dbas_q30" value="2">2
                                <input type="radio" name="dbas_q30" value="3">3
                                <input type="radio" name="dbas_q30" value="4">4
                                <input type="radio" name="dbas_q30" value="5">5
                                <input type="radio" name="dbas_q30" value="6">6
                                <input type="radio" name="dbas_q30" value="7">7
                                <input type="radio" name="dbas_q30" value="8">8
                                <input type="radio" name="dbas_q30" value="9">9
                                <input type="radio" name="dbas_q30" value="10">10
                            
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
    </div>