<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    3P模型（睡眠因子3P分析）
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <table class="table table-bordered" style="background-color:white;text-align:center;">

                    <tr>
                        <th > </th>

                        <th >前置因子</th>

                        <th >促发因子</th>

                        <th >维持因子</th>

                    </tr>

                    <tr>
                        <th >恒定系统</th>
                        <td  colspan="1" >
                            <textarea  class="form-control" name="stable_placenta" rows="3" ></textarea>
                        </td>

                        <td  colspan="1" >
                            <textarea  class="form-control" name="stable_provovative" rows="3" ></textarea>
                        </td>

                        <td  colspan="1" >
                            <textarea  class="form-control" name="stable_preserve" rows="3" ></textarea>
                        </td>
                    </tr>

                    <tr>
                        <th >生理时钟</th>
                        <td  colspan="1" >
                            <textarea  class="form-control" name="clock_placenta" rows="3" ></textarea>
                        </td>

                        <td  colspan="1" >
                            <textarea  class="form-control" name="clock_provovative" rows="3" ></textarea>
                        </td>

                        <td  colspan="1" >
                            <textarea  class="form-control" name="clock_preserve" rows="3" ></textarea>
                        </td>
                    </tr>

                    <tr>
                        <th >激发系统</th>
                        <td  colspan="1" >
                            <textarea  class="form-control" name="inspire_placenta" rows="3" ></textarea>
                        </td>

                        <td  colspan="1" >
                            <textarea  class="form-control" name="inspire_provovative" rows="3" ></textarea>
                        </td>

                        <td  colspan="1" >
                            <textarea  class="form-control" name="inspire_preserve" rows="3" ></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

