<!DOCTYPE html>
<html>
<head>
    <% include _base_head %>
</head>

<body>
<% include _base_nav %>
<div class="container-fluid">
    <div class="row">
        <% include _base_sidebar%>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <table class="table table-bordered" style="background-color:white;text-align:center;">
                <tr>
                    <td colspan="4" >
                        <h1>失眠因子3P分析 </h1>
                    </td>

                <tr>
                    <th > </th>

                    <th >前置因子</th>

                    <th >促发因子</th>

                    <th >维持因子</th>

                </tr>

                <tr>
                    <th >恒定系统</th>
                    <td  colspan="1" >
                        <textarea  class="form-control" name="stable_placenta" rows="3" >文本框。</textarea>
                    </td>

                    <td  colspan="1" >
                        <textarea  class="form-control" name="stable_provovative" rows="3" >文本框。</textarea>
                    </td>

                    <td  colspan="1" >
                        <textarea  class="form-control" name="stable_preserve" rows="3" >文本框。</textarea>
                    </td>
                </tr>

                <tr>
                    <th >生理时钟</th>
                    <td  colspan="1" >
                        <textarea  class="form-control" name="clock_placenta" rows="3" >文本框。</textarea>
                    </td>

                    <td  colspan="1" >
                        <textarea  class="form-control" name="clock_provovative" rows="3" >文本框。</textarea>
                    </td>

                    <td  colspan="1" >
                        <textarea  class="form-control" name="clock_preserve" rows="3" >文本框。</textarea>
                    </td>
                </tr>

                <tr>
                    <th >激发系统</th>
                    <td  colspan="1" >
                        <textarea  class="form-control" name="inspire_placenta" rows="3" >文本框。</textarea>
                    </td>

                    <td  colspan="1" >
                        <textarea  class="form-control" name="inspire_provovative" rows="3" >文本框。</textarea>
                    </td>

                    <td  colspan="1" >
                        <textarea  class="form-control" name="inspire_preserve" rows="3" >文本框。</textarea>
                    </td>
                </tr>
            </table>
            <input type="submit" class="btn btn-block" value="提交">
        </div>
    </div>
</div>
</body>
</html>