<!DOCTYPE html>
<html>
<head>
	<% include _base_head %>
</head>

<body>
<% include _base_nav %>
<div class="container-fluid">
	<div class="row">
		<% include _base_sidebar%>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<table class="table table-bordered" style="background-color:white;text-align:center;">
				<tr>
					<td colspan="6" >
						<h1>睡眠习惯量表（SHPS）</h1>
					</td>
				</tr>

				<tr>
					<th colspan="6">填写说明：下列是一些关于您个人睡眠习惯、日常生活习惯及睡眠环境的描述，
						共六种发生频率的选项，请在适当的选项上圈选出最能符合您的状况 </th>
				</tr>

				<tr>
					<th colspan="3">1.晚上上床睡觉的时间不规律 </th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q1" value="1">从不
							<input type="radio" name="shps_q1" value="2">极少
							<input type="radio" name="shps_q1" value="3">偶尔
							<input type="radio" name="shps_q1" value="4">有时
							<input type="radio" name="shps_q1" value="5">常常
							<input type="radio" name="shps_q1" value="6">总是

						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">2.早上起床的时间不规律</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q2" value="1">从不
							<input type="radio" name="shps_q2" value="2">极少
							<input type="radio" name="shps_q2" value="3">偶尔
							<input type="radio" name="shps_q2" value="4">有时
							<input type="radio" name="shps_q2" value="5">常常
							<input type="radio" name="shps_q2" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">3.早上醒来后会懒床。</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q3" value="1">从不
							<input type="radio" name="shps_q3" value="2">极少
							<input type="radio" name="shps_q3" value="3">偶尔
							<input type="radio" name="shps_q3" value="4">有时
							<input type="radio" name="shps_q3" value="5">常常
							<input type="radio" name="shps_q3" value="6">总是
						</form>
					</td>
				</tr>
				<tr>
					<th colspan="3">4.周末补眠 </th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q4" value="1">从不
							<input type="radio" name="shps_q4" value="2">极少
							<input type="radio" name="shps_q4" value="3">偶尔
							<input type="radio" name="shps_q4" value="4">有时
							<input type="radio" name="shps_q4" value="5">常常
							<input type="radio" name="shps_q4" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">5.在床上做其他与睡眠无关的事<br>（如看电视，看书，性行为除外）</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q5" value="1">从不
							<input type="radio" name="shps_q5" value="2">极少
							<input type="radio" name="shps_q5" value="3">偶尔
							<input type="radio" name="shps_q5" value="4">有时
							<input type="radio" name="shps_q5" value="5">常常
							<input type="radio" name="shps_q5" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">6.睡前太饥饿</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q6" value="1">从不
							<input type="radio" name="shps_q6" value="2">极少
							<input type="radio" name="shps_q6" value="3">偶尔
							<input type="radio" name="shps_q6" value="4">有时
							<input type="radio" name="shps_q6" value="5">常常
							<input type="radio" name="shps_q6" value="6">总是

						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">7.睡前担心自己会睡不着</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q7" value="1">从不
							<input type="radio" name="shps_q7" value="2">极少
							<input type="radio" name="shps_q7" value="3">偶尔
							<input type="radio" name="shps_q7" value="4">有时
							<input type="radio" name="shps_q7" value="5">常常
							<input type="radio" name="shps_q7" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">8.睡前有不愉快的谈话</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q8" value="1">从不
							<input type="radio" name="shps_q8" value="2">极少
							<input type="radio" name="shps_q8" value="3">偶尔
							<input type="radio" name="shps_q8" value="4">有时
							<input type="radio" name="shps_q8" value="5">常常
							<input type="radio" name="shps_q8" value="6">总是
						</form>
					</td>
				</tr>
				<tr>
					<th colspan="3">9.睡前没有足够的时间让自己放松</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q9" value="1">从不
							<input type="radio" name="shps_q9" value="2">极少
							<input type="radio" name="shps_q9" value="3">偶尔
							<input type="radio" name="shps_q9" value="4">有时
							<input type="radio" name="shps_q9" value="5">常常
							<input type="radio" name="shps_q9" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">10.开着电视或音响入睡</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q10" value="1">从不
							<input type="radio" name="shps_q10" value="2">极少
							<input type="radio" name="shps_q10" value="3">偶尔
							<input type="radio" name="shps_q10" value="4">有时
							<input type="radio" name="shps_q10" value="5">常常
							<input type="radio" name="shps_q10" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">11.躺上床后仍在脑海中思考未解决的问题 </th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q11" value="1">从不
							<input type="radio" name="shps_q11" value="2">极少
							<input type="radio" name="shps_q11" value="3">偶尔
							<input type="radio" name="shps_q11" value="4">有时
							<input type="radio" name="shps_q11" value="5">常常
							<input type="radio" name="shps_q11" value="6">总是

						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">12.半夜会起来看时钟</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q12" value="1">从不
							<input type="radio" name="shps_q12" value="2">极少
							<input type="radio" name="shps_q12" value="3">偶尔
							<input type="radio" name="shps_q12" value="4">有时
							<input type="radio" name="shps_q12" value="5">常常
							<input type="radio" name="shps_q12" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">13.白天小睡或躺在床上休息的时间超过一小时</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q13" value="1">从不
							<input type="radio" name="shps_q13" value="2">极少
							<input type="radio" name="shps_q13" value="3">偶尔
							<input type="radio" name="shps_q13" value="4">有时
							<input type="radio" name="shps_q13" value="5">常常
							<input type="radio" name="shps_q13" value="6">总是
						</form>
					</td>
				</tr>
				<tr>
					<th colspan="3">14.白天缺乏太阳光照 </th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q14" value="1">从不
							<input type="radio" name="shps_q14" value="2">极少
							<input type="radio" name="shps_q14" value="3">偶尔
							<input type="radio" name="shps_q14" value="4">有时
							<input type="radio" name="shps_q14" value="5">常常
							<input type="radio" name="shps_q14" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">15.缺乏规律的运动 </th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q15" value="1">从不
							<input type="radio" name="shps_q15" value="2">极少
							<input type="radio" name="shps_q15" value="3">偶尔
							<input type="radio" name="shps_q15" value="4">有时
							<input type="radio" name="shps_q15" value="5">常常
							<input type="radio" name="shps_q15" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">16.白天担心晚上会睡不着</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q16" value="1">从不
							<input type="radio" name="shps_q16" value="2">极少
							<input type="radio" name="shps_q16" value="3">偶尔
							<input type="radio" name="shps_q16" value="4">有时
							<input type="radio" name="shps_q16" value="5">常常
							<input type="radio" name="shps_q16" value="6">总是

						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">17.睡前四个小时饮用含咖啡因的饮料<br>（如咖啡，茶，可乐，提神饮料）</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q17" value="1">从不
							<input type="radio" name="shps_q17" value="2">极少
							<input type="radio" name="shps_q17" value="3">偶尔
							<input type="radio" name="shps_q17" value="4">有时
							<input type="radio" name="shps_q17" value="5">常常
							<input type="radio" name="shps_q17" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">18.睡前两小时喝酒</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q18" value="1">从不
							<input type="radio" name="shps_q18" value="2">极少
							<input type="radio" name="shps_q18" value="3">偶尔
							<input type="radio" name="shps_q18" value="4">有时
							<input type="radio" name="shps_q18" value="5">常常
							<input type="radio" name="shps_q18" value="6">总是
						</form>
					</td>
				</tr>
				<tr>
					<th colspan="3">19.睡前两小时使用刺激性物质<br>（如抽烟，嚼槟榔）</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q19" value="1">从不
							<input type="radio" name="shps_q19" value="2">极少
							<input type="radio" name="shps_q19" value="3">偶尔
							<input type="radio" name="shps_q19" value="4">有时
							<input type="radio" name="shps_q19" value="5">常常
							<input type="radio" name="shps_q19" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">20.睡前两小时做激烈的运动 </th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q20" value="1">从不
							<input type="radio" name="shps_q20" value="2">极少
							<input type="radio" name="shps_q20" value="3">偶尔
							<input type="radio" name="shps_q20" value="4">有时
							<input type="radio" name="shps_q20" value="5">常常
							<input type="radio" name="shps_q20" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">21.睡前一小时吃太多食物</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q21" value="1">从不
							<input type="radio" name="shps_q21" value="2">极少
							<input type="radio" name="shps_q21" value="3">偶尔
							<input type="radio" name="shps_q21" value="4">有时
							<input type="radio" name="shps_q21" value="5">常常
							<input type="radio" name="shps_q21" value="6">总是

						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">22.睡前一小时喝太多饮料</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q22" value="1">从不
							<input type="radio" name="shps_q22" value="2">极少
							<input type="radio" name="shps_q22" value="3">偶尔
							<input type="radio" name="shps_q22" value="4">有时
							<input type="radio" name="shps_q22" value="5">常常
							<input type="radio" name="shps_q22" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">23.睡眠环境太吵或太安静</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q23" value="1">从不
							<input type="radio" name="shps_q23" value="2">极少
							<input type="radio" name="shps_q23" value="3">偶尔
							<input type="radio" name="shps_q23" value="4">有时
							<input type="radio" name="shps_q23" value="5">常常
							<input type="radio" name="shps_q23" value="6">总是
						</form>
					</td>
				</tr>
				<tr>
					<th colspan="3">24.睡眠环境太亮或太暗</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q24" value="1">从不
							<input type="radio" name="shps_q24" value="2">极少
							<input type="radio" name="shps_q24" value="3">偶尔
							<input type="radio" name="shps_q24" value="4">有时
							<input type="radio" name="shps_q24" value="5">常常
							<input type="radio" name="shps_q24" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">25.睡眠环境湿度太高或太低</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q25" value="1">从不
							<input type="radio" name="shps_q25" value="2">极少
							<input type="radio" name="shps_q25" value="3">偶尔
							<input type="radio" name="shps_q25" value="4">有时
							<input type="radio" name="shps_q25" value="5">常常
							<input type="radio" name="shps_q25" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">26.睡眠环境室温太高或太低</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q26" value="1">从不
							<input type="radio" name="shps_q26" value="2">极少
							<input type="radio" name="shps_q26" value="3">偶尔
							<input type="radio" name="shps_q26" value="4">有时
							<input type="radio" name="shps_q26" value="5">常常
							<input type="radio" name="shps_q26" value="6">总是

						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">27.卧室空气不流通</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q27" value="1">从不
							<input type="radio" name="shps_q27" value="2">极少
							<input type="radio" name="shps_q27" value="3">偶尔
							<input type="radio" name="shps_q27" value="4">有时
							<input type="radio" name="shps_q27" value="5">常常
							<input type="radio" name="shps_q27" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">28.寝具不舒适（如床太宽或太窄，床垫太软，<br>枕头太高或太低，太软或太硬等）</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q28" value="1">从不
							<input type="radio" name="shps_q28" value="2">极少
							<input type="radio" name="shps_q28" value="3">偶尔
							<input type="radio" name="shps_q28" value="4">有时
							<input type="radio" name="shps_q28" value="5">常常
							<input type="radio" name="shps_q28" value="6">总是
						</form>
					</td>
				</tr>
				<tr>
					<th colspan="3">29.卧房摆设过多与睡眠无关甚至干扰睡眠的杂物</th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q29" value="1">从不
							<input type="radio" name="shps_q29" value="2">极少
							<input type="radio" name="shps_q29" value="3">偶尔
							<input type="radio" name="shps_q29" value="4">有时
							<input type="radio" name="shps_q29" value="5">常常
							<input type="radio" name="shps_q29" value="6">总是
						</form>
					</td>
				</tr>

				<tr>
					<th colspan="3">30.被床伴干扰睡眠 </th>
					<td colspan="3" >
						<form action="">
							<input type="radio" name="shps_q30" value="1">从不
							<input type="radio" name="shps_q30" value="2">极少
							<input type="radio" name="shps_q30" value="3">偶尔
							<input type="radio" name="shps_q30" value="4">有时
							<input type="radio" name="shps_q30" value="5">常常
							<input type="radio" name="shps_q30" value="6">总是
						</form>
					</td>
				</tr>

			</table>
			<input type="submit" class="btn btn-block" value="提交">
		</div>
	</div>
</div>
</body>
</html>